<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h2>User Data</h2>

        <!--Top Bar (Search + Add Button) -->
        <div class="top-bar">
            <div>
                <input type="text" id="searchInput" placeholder="Search users..." />
                <button id="searchBtn">Search</button>
            </div>
            <button id="addUserBtn">Add User</button>
        </div>

        <!--Users Table -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Role ID</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>

        <!--Pagination -->
        <div style="margin-top: 10px;">
            <button id="prevBtn">Previous</button>
            <span id="pageNumbers"></span>
            <button id="nextBtn">Next</button>
        </div>

        <!--Form -->
        <div id="userFormContainer" style="display:none;">
            <h3 id="formTitle">Add User</h3>

            <input type="hidden" id="userId">
            <div class="form-row">
            <label for="email">Email:</label>
            <input type="text" id="email">
            <small class="error-message" id="emailError"></small>
        </div>

        <div class="form-row">
            <label for="mobile">Mobile:</label>
            <input type="text" id="mobile" maxlength="10" pattern = "[0-9]"{10} inputmode="numeric">
            <small class="error-message" id="mobileError"></small>
        </div>

            <div class="form-row">
                <label for="role_id">Role ID:</label>
                <input type="number" id="role_id" min="1" max="3">
                <small class="error-message" id="roleError"></small>
            </div>

            <div class="form-row">
                <label for="status">Status:</label>
                <select id="status">
                    <option value="">Select Status</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
                <small class="error-message" id="statusError"></small>
            </div>

            <div class="form-actions">
                <button id="saveUserBtn">Save</button>
                <button id="cancelBtn">Cancel</button>
            </div>
        </div>
    </div>  

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>